<!DOCTYPE html>
<html xmlns:th="http;//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Product Lists :-</h1>

	<table border="1">
		<tr>
			<th>Product ID</th>
			<th>Product Name</th>
			<th>Product Price</th>
			<th>Product Date</th>
		</tr>

		<tr th:each="data : ${products}">
			<td><span th:text="${data.id}"> </span></td>
			<td><span th:text="${data.name}"> </span></td>
			<td><span th:text="${data.price}"> </span></td>
			<td><span th:text="${data.dateAdded}"> </span></td>
		</tr>

	</table>
</body>
</html>